@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
}
a{
    text-decoration:none;
    color: #F3F3F3;
}
/*HEADER*/
header{
    background-color: #222222;
}
.header_h1{
    display: flex;
    align-content: center;
    /*margin: 10px;*/
    font-size: 24px;
}
.pizza{
    font-size: 24px;
    font-weight: bold;
    color: #39B24A;
    ;
}
.y{
    font-size: 24px;
    font-weight: bold;
    color: #F3F3F3;
}
.front{
    font-size: 24px;
    font-weight: bold;
    color: #FC200C;
    
}
nav{
    color: #F3F3F3;
    font-size: 16px;
    line-height: 19px;
}
.navegador{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;  
    padding: 2em; 
}
/*BODY*/
body{
    background-color: #E5E5E5;  
}
.main-info{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 10%;
    padding-top: 10%;
}
/*primer parte con img delivery-mas text sobre img*/
.rojo{
    font-weight: 700;
    font-size: 24px;
    color: #FC200C;
}
.blanco{
    font-weight: bold;
    font-size: 24px;
    color: #F3F3F3;
}
.sec-delivery{
    display: flex;
    justify-items: flex-start;
    flex-wrap: wrap; 
    max-width: 45%;   
}
.p-delivery{
   margin-left: -450px;
}
/*segunda parte con top de pizzas*/
.sec-podio{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    border-radius: 5px;
    max-width: 45%;
}
.podio-cont{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-weight: 700;
}
.top{
    display: flex;
    flex-direction: column;
    align-items: center
}
.list-top5{
    font-weight: bold;
    font-size: 16px;
}
.top-subtitulo{
    font-weight: bold;
    font-size: 20px;
}
/*FOOTER*/
footer{
    background-color: #222222;
    display: flex;
    bottom: 0px;    
    align-items: center;
    justify-content: space-between;
}
.nav-footer{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #F3F3F3;
}
